/* setting */
*{
  box-sizing: border-box;
  margin: 0;
}
#intestazione{
  background-color: #3ddfeb;
  background-image: url(../img/pattern.png);
  background-image: contain;
}

/* HEADER */

/* intestazione */
header img{
  width: 25%;
  padding-top: 75px;
}

/* titolo */
.title{
  margin: 25px;
}
header p {
  color: grey;
}
.data{
  font-size: 12px;
}
.blue{
  color: blue;
}

/* MAIN */

main{
  margin: 25px;
}
.paragrafo{
  margin-top: 30px;
  margin-bottom: 30px;
}
.giallo{
  background-color: yellow;
}
ul{
  padding-left: 15px;
}

/* tabella */
table{
  text-align: left;
  border-collapse: collapse;
  border-spacing: 250px;
  table-layout: fixed;
}
.mini-colonna{
  width: 25%;
}
thead{
  background-color: rgb(39, 123, 233);
  color: white;
}
.azzurra{
  background-color: #3ddfeb;
}


/* FOOTER */
footer{
  margin: 25px;
  line-height: 40px;
}
footer span{
  margin-left: 10px;
  font-size: large;
  color: white;
}
.container{
  display: block;
  height: 180px;
  width: 230px;
  margin-bottom: 20px;
  background: cover;
}
.primo{
  background-image: url(../img/monitor.jpg);
}
.secondo{
  background-image: url(../img/graph.jpg);
}

