/* setting */
*{
  box-sizing: border-box;
  margin: 0;
}
#intestazione{
  background-color: #3ddfeb;
  background-image: url(../img/pattern.png);
  background-image: contain;
}

/* HEADER */

/* intestazione */
header img{
  width: 25%;
  padding-top: 75px;
}

/* titolo */
.title{
  margin: 25px;
}
header p {
  color: grey;
}
.data{
  font-size: 12px;
}
.blue{
  color: blue;
}

/* MAIN */

main{
  margin: 25px;
}
.paragrafo{
  margin-top: 30px;
  margin-bottom: 30px;
}
.giallo{
  background-color: yellow;
}
ul{
  padding-left: 15px;
}

/* tabella */
table{
  text-align: left;
}
thead{
  background-color: rgb(39, 123, 233);
}
.azzurra{
  background-color: #3ddfeb;
}


